vendor/
node_modules/
Homestead.yaml
Homestead.json
.idea/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

